.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Reduce the gap between title and intro */
}

.title img {
  max-width: 900px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 0; /* Eliminate any extra bottom margin */
}

.message {
  position: relative; 
  color: #4F1964;
  padding: 0 20px;
  width: 100%; /* Ensures full width on smaller screens */
  max-width: 1400px; /* Set the maximum width */
  margin: 0 auto; /* Centers the content */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

  
  .about-content {
    top: 12%;
    position: relative; /* Ensure content is positioned relative to the header */
    z-index: 1; /* Ensure content is above the pseudo-element */
    font-family: 'Acme', standard;
  }
  