@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.brand-name {
  font-family: 'Playfair Display', serif;
}

/* Container for the top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #8b5fbf;
  color: white;
  border-radius: 0 0 20px 20px; 
}

/* Container for the logo and brand name */
.logo-container {
  display: flex;
  align-items: center;
}

/* Logo image */
.logo {
  height: 80px; 
  width: auto;
}

.brand-line-top {
  font-size: 25px; 
  font-weight: bold;
}

.brand-line-bottom {
  font-size: 40px; 
  font-weight: bold;
  margin-top: -10px
}

.logo-link {
  text-decoration: none;
  color: inherit;
}



/* Brand name */
.brand-name {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  font: 'Playfair Display'
}

/* Container for the navigation buttons */
.nav-buttons {
  display: flex;
  gap: 40px; /* Space between buttons */
}

/* Style for each navigation button */
.nav-button {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  position: relative;
}

/* Underline the active button */
.nav-button.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* Hover effect */
.nav-button:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}